@model BugDetective.Models.UserRolesHelper.UserRolesViewModel
@{
    ViewBag.Title = "EditRole";
}


<div class="container">
    <h2>EditRole</h2>
    <h4>Username: @Model.User.DisplayName</h4>
    <h4>
        Current Role: @if (Model.roleName == null)
        {
            @: None
                      }
        else
        {
            @Model.roleName;
        }
    </h4>
    <form method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="oldrole" value="@Model.roleName" />
        <input type="hidden" name="id" value="@Model.User.Id" />
        @Html.DropDownList("newRole")
        <input type="submit" class="btn btn-color" value="Change Role" />
    </form>
</div>